<section class="no-padding-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
              {{#if teachers}}
                
                <div class="block margin-bottom-sm">
                  <div class="title"><strong>Teachers</strong></div>
                  <div class="table-responsive"> 
                    <table class="table">
                      <thead>
                        <tr>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Status</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each teachers}}
                          <tr>
                            <td>{{firstName}}</td>
                            <td>{{lastName}}</td>
                            <td>{{username}}</td>
                            <td>{{email}}</td>
                            {{#if statusVerified}}
                            <td>Verified</td>  
                            {{else}}
                            <td style="color:red">Not Verified</td>
                            {{/if}}

                            <th>
                              <form action="/admin/teachers/verify/{{_id}}" method="post">
                                <button type="submit" class="btn btn-secondary">Verify</button>
                              </form>                                  
                            </th>
                          </tr>
                        {{/each}}  
                      </tbody>
                    </table>
                  </div>
                </div>

              {{else}}
                <p><h3>No teachers to verify</h3></p>
              {{/if}}
            </div>
        </div>
    </div>
</section>